# Server
PORT=
NODE_ENV=

# MongoDB
MONGO_URI=

# JWT Secrets
JWT_SECRET=
JWT_REFRESH_SECRET=

# Token Expiry
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

# Optional: App metadata
APP_NAME=

# MS: SMTP
TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
EMAIL_SENDER=

# Yelp Services
YELP_API_KEY=

#Stripe Webhook Services
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=

#MLS Grid Services
MLS_GRID_API_KEY=

# This was inserted by `prisma init`:
DATABASE_URL="postgresql://bizsolutions_user:WVJfxmEyEJrZsWasixvz2uhJsPUNuX8w@dpg-d1dqk16r433s73fmn43g-a.oregon-postgres.render.com/bizsolutions"
